@{
    ViewBag.Title = "Sobre";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Pontifícia Universidade Católica do Rio Grande do Sul - PUCRS
    </p>
    <p>
        Faculdade de Informática - FACIN
    </p>
    <p>
        Bacharelado em Sistemas de Informação
    </p>
    <p>
        Programação de Software Aplicado
    </p>
    <p>
        Prof. Júlio Henrique Araújo Pereira Machado
    </p>
    <p>
        Trabalho final da disciplina, focando no estudo de arquitetura de aplicações web.
    </p>
</article>