@{
    ViewBag.Title = "Contato";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Integrantes</h3>
    </header>
    <p>
        <span class="label">Allan Amaral:</span>
        <span><a href="mailto:allanamaral.25@gmail.com">allanamaral.25@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Giovanni Carlos:</span>
        <span><a href="mailto:giovanni.bat@gmail.com">giovanni.bat@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Lucas Cunha:</span>
        <span><a href="mailto:lucas.cunha2104@gmail.com">lucas.cunha2104@gmail.com</a></span>
    </p>
</section>