@{
    ViewBag.Title = "Pipocão.com, o melhor do cinema está aqui!";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Bem-vindo!</h1>
                <h2>O melhor trabalho de faculdade da história!</h2>
            </hgroup>
            <p>
                Consulte, cadastre a mostre a todos o que você pensa sobre o mundo do cinema!
            </p>
        </div>
    </section>
}

<h3>Aqui você pode:</h3>

<style type="text/css">
    .round li {
        height: 30px;
    }
</style>

<ol class="round">
    <li class="one">
        <h5>Buscar seus filmes</h5>
    </li>

    <li class="two">
        <h5>Adicionar novos</h5>
    </li>

    <li class="three">
        <h5>E contar para seus amigos o que você pensa</h5>
    </li>
</ol>